<div class="card text-center bg-light mb-2 mr-2">
  <div class="card-body">
      <h5 class="card-title">"{{song.title}}"</h5>
      <span>{{getArtistById(song.artist).name}}</span>
      <p class="card-text">{{song.length | secondsToMinSecs }}</p>
      @if (!isAlreadyInPlaylist() ) {
        <button (click)="addToPlaylist()" type="button" class="btn btn-outline-success">Add to playlist</button>
      } @else {
        <button (click)="removeFromPlaylist()" type="button" class="btn btn-outline-danger">Remove from playlist</button>
      }
      <button routerLink="/song/{{song.id}}" type="button" class="btn btn-outline-secondary">Details <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg></button>
  </div>
</div>
