<div class="row">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search by title or artist..."
                aria-label="search by title or artist" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-info" type="button">
                Search
            </button>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <h3>Songs</h3>
  </div>
  <div class="col-lg-9 form-switch form-check-reverse">
    <input [(ngModel)]="view" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="true">
    <label class="form-check-label" for="flexSwitchCheckChecked">Toggle card/rows views</label>
  </div>
</div>
<div class="row">
  @if (view) {
    <!-- Songs in cards view -->
    <div class="row row-cols-md-5">
      <!-- LISTADO DE CANCIONES TARJETA -->
      @for (song of getSongs(); track $index) {
        <app-song-card [song]="song"></app-song-card>
      }
    </div>
  } @else {
    <!-- Songs in rows view -->
    <ul class="list-group">
      <!-- LISTADO DE CANCIONES FILA -->
      @for (song of getSongs(); track $index) {
        <app-song-row [song]="song"></app-song-row>
      }
    </ul>
  }
</div>
