<h3>Some statistics about our database:</h3>
<ul class="list-group">
  <li class="list-group-item">Number of songs: {{getNumberOfSongs()}}</li>
  <li class="list-group-item">Number of playlists: {{getNumberOfPlaylists()}}</li>
  <li class="list-group-item">Average number of songs in playlists: {{getAverageSongsInPlaylists()}} </li>
  <li class="list-group-item">Number of artists: </li>
  <li class="list-group-item">Top song by length: </li>
  <li class="list-group-item">(ADVANCED) Top artist by songs: </li>
</ul>
<h5>Artists ordered by number of songs</h5>
<ul class="list-group">
  <!-- (ADVANCED) LISTADO DE ARTISTAS ORDENADO DE MAYOR A MENOR NÚMERO DE CANCIONES EN LA BD -->
</ul>
